// フッター

.footer {
  padding: 3rem;
  background-color: #949087;

  &__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    &Item {
      margin: 0 12px;
    }

    &Link {
      color: #fff;

      &:hover {
        color: #c7c3ba;
      }
    }
  }

  &__copyright {
    line-height: 1.6;
    text-align: center;
    color: #c7c3ba;

    &Text {
      font-size: 0.875rem;
    }
  }
}
