// ヘッダー


// ミックスイン
@use "../../global" as g;


.header {
  max-width: 1000px;
  margin: 2.5rem auto 0;
  height: 170px;
  background-image: url(../images/header.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;

  &__heading {
    padding: 2rem 0 1rem;
    font-family: 'Amatic SC', cursive;
    font-size: 3.75rem;
  }

  &__text {
    line-height: 1.6;
  }


  @include g.mq(md-min) {
    height: 190px;

    &__heading {
      padding-bottom: 2rem;
    }

    &__text {
      font-size: 1.125rem;
    }
  }
}



.header2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 7.5rem;
  }


  @include g.mq(md-min) {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__logo {
      width: 12.5rem;
    }
  }
}



.header3 {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--grey);

  &__link {
    font-family: impact, sans-serif;
    font-size: 1.5rem;
    color: var(--white);
  }


  @include g.mq(md-min) {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
