<%
  if (typeof linkText === 'undefined') {
    var linkText = '';
  }
%>

<footer class="footer2">
  <a class="footer2__btn jobBtn jobBtn--secondary" href="jop.html"><%= linkText %></a>

  <nav class="footer2__nav">
    <ul class="footer2__navList">
      <li class="footer2__navItem">
        <a class="footer2__navLink" href="#">会社概要</a>
      </li>

      <li class="footer2__navItem">
        <a class="footer2__navLink" href="#">サービス内容</a>
      </li>

      <li class="footer2__navItem">
        <a class="footer2__navLink" href="#">スタッフブログ</a>
      </li>

      <li class="footer2__navItem">
        <a class="footer2__navLink" href="#">お問い合わせ</a>
      </li>
    </ul>
  </nav>
</footer>
