<footer class="footer3 <%- layout %>">
  <p class="footer3__text">
    <a class="footer3__link" href="mailto:info@example.com">お問い合わせ</a> /
    <small class="footer3__copyright">© 2021 WCB Conference</small>
  </p>
</footer>
