<footer class="footer4">
  <p class="footer4__sns">
    <a class="footer4__link" href="https://twitter.com/">Twitter</a> /
    <a class="footer4__link" href="https://www.instagram.com/">Instagram</a> /
    <a class="footer4__link" href="https://www.youtube.com/">YouTube</a>
  </p>

  <p class="footer4__copyright">
    <small class="footer4__copyrightText">&copy; 2021 Mana Ohmoto</small>
  </p>
</footer>
