<nav class="gNav2">
  <button class="gNav2__btn" id="js-gNav2__btn" type="button">Menu</button>

  <ul class="gNav2__list">
    <li class="gNav2__item">
      <a class="gNav2__link" href="#about">About</a>
    </li>

    <li class="gNav2__item">
      <a class="gNav2__link" href="#news">News</a>
    </li>

    <li class="gNav2__item">
      <a class="gNav2__link" href="#speakers">Speakers</a>
    </li>

    <li class="gNav2__item">
      <a class="gNav2__link" href="#ticket">Ticket</a>
    </li>
  </ul>
</nav>
