<header class="header2 l-wrapper l-wrapper--lg">
  <h1 class="header2__heading">
    <a class="header2__link" href="index.html">
      <img class="header2__logo" src="images/logo.svg" alt="Sample Web">
    </a>
  </h1>

  <%- include('_gnav.ejs') %>
</header>
