<header class="header3">
  <div class="header3__wrapper <%= layout %>">
    <a class="header3__link" href="#heroHeader">WCB Conference</a>

    <%- include('_gnav2.ejs') %>
  </div>
  <!-- /.header3__wrapper.l-wrapper.l-wrapper--lg -->
</header>
