<aside class="<%- element %> sidebar">
  <section class="sidebar__section">
    <h3 class="sidebar__heading">Category</h3>

    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">猫の種類</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">食事・フード</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">健康・病気</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">猫の生態</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">猫と暮らす</a>
      </li>
    </ul>
  </section>

  <section class="sidebar__section">
    <h3 class="sidebar__heading">Newsletter</h3>

    <p class="sidebar__text">猫やペットに関する最新情報、お知らせ等を配信中！お気軽にご登録ください！</p>

    <form class="sidebar__form" action="#">
      <input class="sidebar__input" type="email" name="email" placeholder="hello@example.com">

      <input class="sidebar__btn" type="submit" name="btn" value="登録">
    </form>
  </section>

  <section class="sidebar__section sidebar__section--popular">
    <h3 class="sidebar__heading">Popular Posts</h3>

    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">初めて猫を病院に連れて行く時の心構え</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">肉球で愛猫の性格診断ができる？</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">動く猫の撮影のコツ</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">おすすめのフードは？</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">猫に首輪をつけてもいいの？気をつけること5つ</a>
      </li>
    </ul>
  </section>
</aside>
