// パーツ・リンク

// 続きを読む
.moreLink {
  display: inline-block;
  padding: 10px 20px;
  line-height: 1.6;
  border: dashed 2px #e38787;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #eda1a1;
  background-color: #eda1a1;
  color: #fff;

  &:hover {
    border-color: #eda1a1;
    box-shadow: 0 0 0 5px #e38787;
    background-color: #e38787;
  }
}
