<div class="<%= layout %> primaryHero">
  <h2 class="primaryHero__heading">一緒に挑戦し続けよう</h2>

  <p class="primaryHero__lead">
    私たちと一緒にWebの未来を作りませんか？素敵な仲間を募集しています。
    「なりたい自分」になれる場所を、きっと見つけられるはずです。
  </p>

  <a class="primaryHero__link jobBtn jobBtn--primary" href="job.html">募集要項を見る</a>
</div><!-- /.hero.l-wrapper l-wrapper--lg -->
