<div class="secondaryHeroHeader">
  <div class="secondaryHeroHeader__content">
    <p class="secondaryHeroHeader__subHeading">Photographer</p>

    <h1 class="secondaryHeroHeader__heading">Mana Ohmoto</h1>

    <p class="secondaryHeroHeader__sns">
      <a class="secondaryHeroHeader__link" href="https://twitter.com/">Twitter</a> /
      <a class="secondaryHeroHeader__link" href="https://www.instagram.com/">Instagram</a> /
      <a class="secondaryHeroHeader__link" href="https://www.youtube.com/">YouTube</a>
    </p>
  </div><!-- /.secondaryHeroHeader__content -->

  <video src="images/photo-movie.mp4" class="secondaryHeroHeader__video" poster="hero2.jpg" autoplay loop muted>
  </video>

  <div class="secondaryHeroHeader__overlay"></div>
</div><!-- /.secondaryHeroHeader -->
