// ベース

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.catBlog {
  background-image: url(../images/bg.png);
  color: #949087;
}

.corporate,
.job,
.form {
  color: #555;
}

.event {
  color: var(--grey);

  img {
    max-width: 100%;
  }
}

.gallery {
  font-family: 'Bree Serif', sans-serif;
  background-color: var(--bgColor);
  color: var(--textColor);
  transition: 0.55s;

}
img {
  max-width: 100%;
}
