<!DOCTYPE html>
<html lang="ja">

<%- include('components/common/_head.ejs', {page_title: 'ギャラリー'}) %>

<body class="gallery">

<%- include('components/other/_secondary-hero-header') %>


<div class="photoList">
  <a class="photoList__link" href="images/img1-800.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img1-400.jpg 400w,
              images/img1-800.jpg 800w"
      src="img1-800.jpg"
      alt="Sainte Chapelle">
  </a>

  <a class="photoList__link" href="images/img2-800.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img2-400.jpg 400w,
              images/img2-800.jpg 800w"
      src="img2-800.jpg"
      alt="Fushimi Inari Shrine">
  </a>

  <a class="photoList__link" href="images/img3-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img3-400.jpg 400w,
              images/img3-800.jpg 800w"
      src="img3-800.jpg"
      alt="The Ocean in Okinawa">
  </a>

  <a class="photoList__link" href="images/img4-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img4-400.jpg 400w,
              images/img4-800.jpg 800w"
      src="img4-800.jpg"
      alt="Rainbow Colored Ocean">
  </a>

  <a class="photoList__link" href="images/img5-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img5-400.jpg 400w,
              images/img5-800.jpg 800w"
      src="img5-800.jpg"
      alt="Île de la Cité">
  </a>

  <a class="photoList__link" href="images/img6-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img6-400.jpg 400w,
              images/img6-800.jpg 800w"
      src="img6-800.jpg"
      alt="Night View in Otaru">
  </a>

  <a class="photoList__link" href="images/img7-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img7-400.jpg 400w,
              images/img7-800.jpg 800w"
      src="img7-800.jpg"
      alt="English Bay">
  </a>

  <a class="photoList__link" href="images/img8-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img8-400.jpg 400w,
              images/img8-800.jpg 800w"
      src="img8-800.jpg"
      alt="Okinawa Churaumi Aquarium">
  </a>

  <a class="photoList__link" href="images/img9-800.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img9-400.jpg 400w,
              images/img9-800.jpg 800w"
      src="img9-800.jpg"
      alt="The Ocean in Okinawa">
  </a>

  <a class="photoList__link" href="images/img10-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img10-400.jpg 400w,
              images/img10-800.jpg 800w"
      src="img10-800.jpg"
      alt="The Ocean in Okinawa">
  </a>

  <a class="photoList__link" href="images/img11-800.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img11-400.jpg 400w,
              images/img11-800.jpg 800w"
      src="img11-800.jpg"
      alt="The Ocean in Okinawa">
  </a>

  <a class="photoList__link" href="images/img12-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img12-400.jpg 400w,
              images/img12-800.jpg 800w"
      src="img12-800.jpg"
      alt="The Ocean in Okinawa">
  </a>

  <a class="photoList__link" href="images/img13-1600.jpg" data-aos="fade-up">
    <img class="photoList__image"
      srcset="images/img13-400.jpg 400w,
              images/img13-800.jpg 800w"
      src="img13-800.jpg"
      alt="The Ocean in Okinawa">
  </a>
</div><!-- /.photoList -->


<%- include('components/common/_footer4') %>

<%- include('components/common/_script') %>

</body>
</html>
