// セクション・News

.newsSection {
  padding: 7rem 0;
  background-image: linear-gradient(
    180deg,
    var(--lightGreen) 0%,
    var(--green) 100%
  );
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);

  &__heading {
    margin-bottom: 2rem;
  }
}
