// 変数

// カラー
:root {
  --lightBlue: #4db1ec;
  --blue: #1665cc;
  --purple: #b473bf;
  --pink: #ffb2c1;
  --orange: #ff9f67;
  --yellow: #ffd673;
  --lightGreen: #a2e29b;
  --green: #00a2af;
  --grey: #333;
  --white: #fff;
}


.gallery {
  --textColor: #333;
  --bgColor: #fff;
  --videoOpacity: 0.5;

  @media (prefers-color-scheme: dark) {
    --textColor: #ddd;
    --bgColor: #000;
    --videoOpacity: 0.7;
  }
}
